@import url('https://fonts.googleapis.com/css?family=Righteous');

*{
    margin: 0 auto;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url(https://images.unsplash.com/photo-1542446655-53a7e25c8fe2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1195&q=80);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    color: white;
}

.input-group{
    margin: 10px;
}

label{
    display: block;
}

button{
    background: black;
    border: 1px solid white;
    color: white;
    margin: 10px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
}

input{
    height: 30px;
    width: 200px;
    border: none;
}

h2{
    font-family: 'Righteous', cursive;
}

nav{
    color: white;
    margin: 0 auto;
  }
  
  a{
    color: white;
  }
  
  a:hover{
    color: white;
  }
  
  ul{
    padding-top: 20px;
  }
  
  
  .right{
    float: right;
    margin-right: 40px;
    cursor: pointer;
    transition: .25s ease;
  }
  
  .left{
    font-family: 'Righteous', cursive;
    cursor: pointer;
  }

  .right:hover{
    border-bottom: 2px solid white;
  }
  
  li{
    display: inline-block;
  }

.fas{
    color: gold;
    margin-left: 10px;
}

footer{
    color: white;
    position: absolute;
    bottom: 10px;
  }
  
  .fab{
    margin: 10px;
    font-size: 22px;
    transition: 1s ease;
    cursor: pointer;
  }
  
  .fab:hover{
    transform: scale(1.3);
  }